@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

.custom-dashed-border {
    @apply border-2 border-dashed border-gray-500;
    border-spacing: 30px; /* Customize this value for spacing between dashes */
    border-style: dashed;
}

input[type='checkbox'],
input[type='radio'] {
    accent-color: #AD2724;
}

input[type="checkbox"] {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 1px solid #ECECEC;
    accent-color: #AD2724;
    background: #F6F6F6;
    border-radius: 5px;
}

.for_gradient {
    position: relative;
    overflow: hidden;
}

.for_gradient:after {
    content: '';
    position: absolute;
    width: 81.48px;
    height: 81.48px;
    top: 70%;
    background: #AD2724;
    border-radius: 100%;
    left: -40.74px;
    gap: 0;
    opacity: 0.5;
    box-shadow: 0 0 80px 30px #AD2724; /* Spread effect */
    filter: blur(10px); /* Blur effect */
}

.var_card .for_gradient_card {
    display: block !important;
}

.for_gradient_card {
    display: none;
    position: absolute;
    width: 81.48px;
    height: 81.48px;
    top: 70%;
    background: #AD2724;
    border-radius: 100%;
    left: -40.74px;
    gap: 0;
    opacity: 0.5;
    box-shadow: 0 0 80px 30px #AD2724; /* Spread effect */
    filter: blur(10px); /* Blur effect */
}

.carousel__pagination {
    background: #AD27241A;
    width: max-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
}

.carousel__pagination .carousel__pagination-button::after {
    background: #fff !important;
}

.carousel__pagination .carousel__pagination-button--active::after {
    background: #ad2725 !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-2-lines p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-2-lines p span {
    background: none !important;
    color: #fff !important;
}

.product-hover:hover {
    box-shadow: 7px 7px 6.1px 0px rgba(173, 39, 37, 0.1) !important;
    box-shadow: -7px 7px 6.1px 0px rgba(173, 39, 37, 0.1) !important;
}

.product-hover:hover a {
    background: #ad2725;
    color: #fff;
    box-shadow: 7px 7px 6.1px 0px #195ABC0D !important;
    box-shadow: -7px 7px 6.1px 0px #195ABC0D !important;

}

.navigation a {
    position: relative;
    transition: all 0.3s;
}

.navigation a:hover {
    color: #ad2725;
}

.navigation a:after {
    content: '';
    transition: all 0.2s;
}

.navigation a.router-link-active {
    color: #ad2725;
}

.navigation a.router-link-active:after {
    content: '';
    border-bottom: 3px solid #ad2725;
    position: absolute;
    width: 100%;
    bottom: -65%;
    left: 0;
}

.navigation a:hover:after {
    content: '';
    border-bottom: 3px solid #ad2725;
    position: absolute;
    width: 100%;
    bottom: -65%;
    left: 0;
}

html {
    scroll-behavior: smooth;
}

input:focus-visible {
    outline: none;
}

.carousel__track {
    padding: 20px 0 !important;
}

.skeleton {
    border-radius: 1rem;
    --tw-bg-opacity: 1;
    animation: skeleton 1.8s ease-in-out infinite;
    background-color: rgba(220, 220, 220, var(--tw-bg-opacity));
    background-image: linear-gradient(105deg, transparent 0, transparent 40%, rgba(255, 255, 255, 1) 50%, transparent 60%, transparent 100%);
    background-position-x: -50%;
    background-repeat: no-repeat;
    background-size: 200% auto;
    will-change: background-position;
}

@keyframes skeleton {
    0% {
        background-position-x: 200%;
    }
    100% {
        background-position-x: -200%;
    }
}

.carousel .carousel__prev {
    left: -80px;
    padding: 10px;
    color: #ad2725;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #0000000D;
}

.carousel .carousel__next {
    right: -80px;
    padding: 10px;
    color: #ad2725;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #0000000D;
}

.carousel__pagination-button::after {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #D9D9D9;
}

.carousel__pagination-button--active::after {
    background: #ad2725;
}

.auth .carousel__pagination {
    position: absolute !important;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/*.auth .carousel {*/
/*    width: 500px*/
/*}*/

.auth .carousel__track {
    width: 100%;
    height: 100%;
}

.auth img,
.auth.carousel__slide {
    border-radius: 20px;
}

.auth .carousel__viewport {
    height: 100%
}

.spinner {
    border-top-color: #4299e1;
    border-left-color: #4299e1;
    animation: spinner-spin 1s infinite linear;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border-width: 2px;
    width: 20px;
    height: 20px;
}

@keyframes spinner-spin {
    to {
        transform: rotate(360deg);
    }
}